* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}


#one{
  width:33%;
  float: left;
}
#two{
  width:33%;
  float: left;
}
#three{
  width:33%;
  float: left;
}
